@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700&family=Noto+Sans:wght@400;700&display=swap');

/* 공통 */
.wrap {position: relative;width: 100%;height: 100vh;display: flex;align-items: center;justify-content: center;font-size: 14px;font-family: 'Noto Sans KR', 'Noto Sans', sans-serif;}
.container {position: relative;max-width: 1980px;width: 95%;min-width: 1200px;height: 100%;display: flex;align-items: center;justify-content: center;}



/* ===== login ===== */
#login {flex-direction: column;}
#login h1 {margin-top: -15vh;padding-left: 70px;font-size: 80px;letter-spacing: 70px;color: #343434;}
#login .userWrap {max-width:260px;width:65%;min-width: 200px;margin-top: 17vh;}
#login .userWrap input {display: block;float: left;max-width: 200px;width: calc(100% - 60px);height: 34px;padding: 0 10px;line-height: 34px;border-width: 1px;}
#login .userWrap button {width: 60px;height: 34px;padding: 0 5px;font-size: 16px;line-height: 34px;background: #494949;color: #fff;}



/* ===== main ===== */
.stepWrap {width: 80%;}
/* step1 */
.step {display: none;align-items: center;justify-content: center;flex-direction: column;}
.step.on {display: flex;}
.readyBtn {padding: 15px 30px;font-size: 18px;color: #d7d7d7;border: solid 1px #333;background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000));text-shadow: 0 1px 1px rgba(0,0,0,.3);box-shadow: 0 1px 2px rgba(0,0,0,.2);border-radius: 5px;}
.readyBtn:hover {background: #000;}
.readyBtn.off {color: #ddd;border-color: #777;background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));}
.readyBtn.disable {color: #ddd;border-color: #777;background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));}
.statusBar {margin-top: 50px;font-size: 18px;}
.statusBar.off {visibility: hidden;}
/* step2 */
.theme {width: 50vw;display: flex;align-items: center;justify-content: center;flex-flow: row wrap;overflow: hidden;}
.theme li {width: 16%;margin: 2%;padding: 30px 0;text-align: center;border: 1px solid #222;line-height: 1.4;}
/* step3 */
.step3 h2 {font-size: 30px;margin-top: -15px;}
.bingo {width: 35vw;height: 35vw;margin-top: 40px;border-bottom: 1px solid #222;border-right: 1px solid #222;background: #fff;}
.bingo td {position: relative;height: 20%;padding: 15px;border-top: 1px solid #222;border-left: 1px solid #222;}
.bingo td.chk:after {content: '';display: block;position: absolute;top: 7.5%;left: 7.5%;width: 85%;height: 85%;border-radius: 50%;border: 5px solid red;box-sizing: border-box;}
.bingo td.sucess {background: pink;}
.bingo td textarea {width: 100%;line-height: 1.4;background: transparent;border: 0;resize: none;text-align: center;word-break: keep-all;}
.bingo td textarea:focus {outline: none;}
.bingo td textarea {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.bingo td textarea::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
/* 채팅창 */
.chatWrap {width: 20%;height: 80vh;float: right;}
.chat {width: 100%;height: calc(100% - 34px);padding: 13px;background: #fff;overflow-y: scroll;}
.chat {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.chat::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
.comment {float: left;width: 100%;margin-top: 5px;overflow: hidden;}
.comment:first-child {margin-top: 0;}
.comment.mine {float: right;}
.comment .name {display: block;}
.comment.mine .name {text-align: right;}
.comment.mine p {float: right;}
.comment p {display: inline-block;position: relative;margin-top: 8px;padding: 4px 7px;border-radius: 3px;line-height: 1.5;background: #333;color: #fff;font-weight: 300;box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);}
.comment p:before {content: '';display: block;position: absolute;top: -4px;left: 5px;width: 0;height: 0;border-left: 3px solid transparent;border-right: 4px solid transparent;border-bottom: 4px solid #333;}
.comment.mine p:before {left: auto;right: 5px;border-left-width: 4px;border-right-width: 3px;}
.inputWrap input {width: calc(100% - 60px);height: 34px;padding: 0 10px;line-height: 34px;display: block;float: left;}
.inputWrap button {width: 60px;height: 34px;padding: 0 5px;line-height: 34px;background: #494949;color: #fff;}

.exitBtn {position: absolute;top: 15px;right: 0;padding: 10px 15px;background: #494949;color: #fff;border-radius: 3px;}